header{
  background: mediumseagreen;
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: -10px;
  border-bottom: 5px inset black;
}
.header_image{
  height: 40px;
  width: 40px;
  border-radius: 5px;
  position: fixed;
}
.navimg{
  height: 35px;
  width: 30px;
  border-radius: 30px;
  float: right;
  margin: 3px 2px 4px 4px;
  position: relative;
}
.navimg:hover{
height: 35px;
  width: 30px;
  border-radius: 30px;
  float: right;
  margin: 3px 2px 4px 4px;
  position: relative;
  border: 2px outset dodgerblue;
}
.navimgs{
  height: 28px;
  width: 30px;
  border-radius: 30px;
  margin: 3px 2px 4px 10px;
  position: relative;
  float: center;
}
.navimgs:hover{
height: 31px;
  width: 33px;
  border-radius: 30px;
  float: center;
  margin: 3px 2px 4px 10px;
  position: relative;
  border: 2px outset dodgerblue
}
nav{
  text-align: right;
  color: none;
  font-stretch: 10px;
}
hr{
  background: black;
  height: 5px;
  width: 100%;
}
